
<h1>Welcome to the Dojo Activity Center</h1>
<br>
<br>




<div class="reg" Style=" display:inline-block;">

        <partial name="RegisterPartial"/>
    </div>

<div class= "login" Style=" display:inline-block; position:absolute; bottom:30%; left:50%;" >
        <partial name="LoginPartial"/>
    </div>
</div>
